{% extends 'layout.html' %}

{% block body %}

    <div><h1>LIST OF ALL TASKS</h1></div>

    <div class="list-group">
    {% for task in tasks %}

      <a href="/tasks/{{task.id}}" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{task.name}}</h5>
          <small class="text-muted">{{task.completed_at}}</small>
        </div>
        <p class="mb-1">{{task.description}}</p>
      </a>
    
    {%endfor%}
</div>

{% endblock %}